In [2]:
import pandas as pd

In [3]:
schoolfilepath = "schools_complete.csv"
studentfilepath = "students_complete.csv"

In [4]:
schools = pd.read_csv(schoolfilepath, encoding="utf-8")
schools.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
students = pd.read_csv(studentfilepath, encoding="utf-8")
students.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
schools.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [7]:
students.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
unq_schools = schools["school_name"].unique().tolist()
unq_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [9]:
tot_schools = len(unq_schools)
tot_schools

15

In [10]:
tot_students = len(students["student_name"])
tot_students

39170

In [11]:
tot_budget = schools["budget"].sum()
tot_budget

24649428

In [12]:
avg_math_score = round(students["math_score"].mean(),2)
avg_math_score

78.99

In [13]:
avg_read_score = round(students["reading_score"].mean(),2)
avg_read_score

81.88

In [14]:
passing_math = (len(students[students["math_score"] > 65]))
passing_math

32555

In [15]:
passing_reading = (len(students[students["reading_score"] > 65]))
passing_reading

36923

In [16]:
pct_passing_math = round((passing_math/tot_students)*100,2)
pct_passing_math

83.11

In [17]:
pct_passing_reading = round((passing_reading/tot_students)*100,2)
pct_passing_reading

94.26

In [18]:
pass_rate = round((pct_passing_math + pct_passing_reading)/2,2)
pass_rate

88.69

In [20]:
district_summary = pd.DataFrame({"Total Schools":[tot_schools],
                                 "Total Students":[tot_students],
                                 "Total Budget":[tot_budget],
                                 "Average Math Score":[avg_math_score],
                                 "Average Reading Score":[avg_read_score],
                                 "% Passing Math":[pct_passing_math],
                                 "% Passing Reading":[pct_passing_reading],
                                 "Overall Passing Rate":[pass_rate]})

district_summary["Total Students"]=district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:}%".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:}%".format)
district_summary["% Passing Math"]=district_summary["% Passing Math"].map("{:}%".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:}%".format)
district_summary["Overall Passing Rate"]=district_summary["Overall Passing Rate"].map("{:}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99%,81.88,83.11,94.26,88.69